:root {
  --color-primary: #080;
  --color-primary-copy: #070;
  --color-action: #00f;
  --typeface-copy: Georgia, serif;
  --typeface-gui: Consolas, Inconsolata, Menlo, monospace;
}

a[href] {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-action);
  background: transparent;
  text-decoration: none;
}

a[href]:hover {
  color: var(--color-primary);
  background: transparent;
  border-width: 1px;
  border-color: var(--color-action);
}

a[href]:focus {
  outline: 2px solid var(--color-action);
  outline-offset: 0.2rem;
  border-color: transparent;
  color: #000;
  background: transparent;
}

a[href]:focus:hover {
  outline-width: 3px;
  outline-color: var(--color-primary);
  border-width: 1px;
  color: var(--color-action);
  background: transparent;
}

a[href] code {
  color: var(--color-action);
}

a[href]:hover code {
  color: var(--color-primary);
}
